{% extends 'base.html.twig' %}

{% block title %}Create Post{% endblock %}

{% block body %}

    <div class="row align-items-md-stretch mb-5">
        <div class="col-md-12">
            <a href="{{ path('app_index') }}"><button class="btn btn-outline-secondary" type="button">Go back!</button></a>            
        </div>
    </div>

    <div class="row align-items-md-stretch">      
      <div class="col-md-12">
        
        {{ form_start(form) }}
            <div class="row g-3">
                <div class="col-sm-12">
                    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-12">
                    {{ form_row(form.body, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <hr class="my-4">

            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

        {{ form_end(form) }}
      </div>
    </div>

{% endblock %}
