{% extends 'base.html.twig' %}

{% block title %}Post details{% endblock %}

{% block body %}

    <div class="row align-items-md-stretch mb-5">
        <div class="col-md-12">
            <a href="{{ path('app_index') }}"><button class="btn btn-outline-secondary" type="button">Go back!</button></a>            
        </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-5">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Author: {{postDetail.getAuthor().getName()}}</h2>
            <strong class="d-block text-gray-dark">Username: {{postDetail.getAuthor().getUsername()}}</strong><br>
            <i class="bi bi-phone"></i>  {{postDetail.getAuthor().getPhone()}}<br>
            <i class="bi bi-link"></i> <a href="{{postDetail.getAuthor().getWebsite()}}">{{postDetail.getAuthor().getWebsite()}}</a><br>
            <i class="bi bi-envelope"></i> <a href="mailTo:{{postDetail.getAuthor().getEmail()}}">{{postDetail.getAuthor().getEmail()}}</a>
        </div>
      </div>
      <div class="col-md-7">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>{{postDetail.getPost().getTitle()}}</h2>
          <p>{{postDetail.getPost().getBody()}}</p>
        </div>
      </div>
    </div>



{% endblock %}
